[Unit]
Description=V2RayN subscription server
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/subsrv
Restart=on-failure
RestartSec=5s
DynamicUser=yes
StateDirectory=subsrv
LoadCredential=tls_cert:/etc/letsencrypt/live/{{ host.data.proxy_domain }}/fullchain.pem
LoadCredential=tls_key:/etc/letsencrypt/live/{{ host.data.proxy_domain }}/privkey.pem
Environment=SECRET={{ host.data.rotate_secret }}
Environment=PROXY_HOST={{ host.name }}
Environment=SERVER_HOST={{ host.data.xray_server_addr }}
Environment=REALITY_PBK={{ host.data.reality_pbk }}
Environment=REALITY_SNI={{ host.data.reality_sni }}
Environment=REALITY_SID={{ host.data.reality_sid }}
Environment=SUB_PATH={{ host.data.sub_path }}
Environment="ADMIN_PASSWORD_HASH={{ host.data.admin_password_hash }}"

[Install]
WantedBy=multi-user.target
