interface={{ host.data.apd_dev }}

dhcp-range={{ host.data.dhcp_range_start }},{{ host.data.dhcp_range_end }},12h
dhcp-option=option:router,{{ host.data.apd_ip }}

dnssec
dnssec-check-unsigned

strict-order
server=8.8.8.8
server=8.8.4.4
server=1.1.1.1
resolv-file=/run/systemd/resolve/resolv.conf

dns-forward-max=500

bind-dynamic
