# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eno1
iface eno1 inet dhcp
        hwaddress 28:ee:52:d6:09:86
        metric 100

auto enp2s0
iface enp2s0 inet manual 

auto wlp4s0
iface wlp4s0 inet static 
        address 192.168.2.50
