MusicFolder = "/srv/navidrome/music"
DataFolder = "/srv/navidrome/data"
CacheFolder = "/srv/navidrome/cache"
Address = "0.0.0.0"
Port = 8080
LogLevel = "info"
Scanner.Schedule = "@every 1m"
Scanner.FollowSymlinks = true
TranscodingCacheSize = "150MiB"
