#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy drop;
        
        # Allow loopback
        iifname "lo" counter accept

        # Allow established/related connections
        ct state established,related counter accept

        # Allow ICMP (ping)
        ip protocol icmp counter accept
        ip6 nexthdr icmpv6 counter accept

        # Navidrome
        iifname "{{ host.data.wan_dev }}" tcp dport 4533 counter accept
        iifname "{{ host.data.apd_dev }}" tcp dport 4533 counter accept

        # Allow SSH from APD only
        iifname "{{ host.data.apd_dev }}" tcp dport 22 counter accept

        # Allow DHCP from APD (if running DHCP server)
        iifname "{{ host.data.apd_dev }}" udp dport 67 counter accept

        # Allow DNS from APD (if running DNS server)
        iifname "{{ host.data.apd_dev }}" udp dport 53 counter accept
        iifname "{{ host.data.apd_dev }}" tcp dport 53 counter accept
        
        # Log and drop everything else
        counter log prefix "INPUT DROP: " drop
    }
    
    chain forward {
        type filter hook forward priority filter; policy drop;
       
        iifname "lo" counter accept

        # Allow xray traffic forwarding
        meta mark {{ host.data.xray_traffic_mark }} counter accept
 
        # Allow established/related
        ct state established,related counter accept
        
        # Allow APD to WAN
        iifname "{{ host.data.apd_dev }}" oifname "{{ host.data.wan_dev }}" counter accept

        # Log and drop everything else
        counter log prefix "FORWARD DROP: " drop
    }
    
    chain output {
        type filter hook output priority filter; policy accept;
        counter
    }
}

table inet nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        oifname "{{ host.data.wan_dev }}" counter masquerade
    }
}
