[Service]
Environment="TUN_DEV={{ host.data.tun_dev }}"
Environment="APD_DEV={{ host.data.apd_dev }}"
Environment="WAN_DEV={{ host.data.wan_dev }}"
Environment="XRAY_OUT_MARK={{ host.data.xray_out_mark }}"
Environment="XRAY_TRAFFIC_MARK={{ host.data.xray_traffic_mark }}"
